.loginContainer {
  height: 100vh;
  width: 100vw;
  background-image: url("../../assets/planes-wing-cuts-through-sky-cotton-candy-clouds-during-radiant-sunset_91128-4456.avif");
  // background-image: url("./assets/pexels-ahmedmuntasir-912050.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
